[submodule "auth"]
	path = auth
	url = https://github.com/bhtoan2204/auth.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/truong-ne/website-ng.git
[submodule "gateway"]
	path = gateway
	url = https://github.com/bhtoan2204/gateway.git
[submodule "eureka"]
	path = eureka
	url = https://github.com/bhtoan2204/eureka.git
[submodule "product"]
	path = product
	url = https://github.com/bhtoan2204/product.git